In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [17]:
hh_db_t=pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')
hh_db_t.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [3]:
hh_db_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [4]:
hh_db_t['Опыт работы'].nunique()

44413

In [5]:
hh_db_t['Ищет работу на должность:'].value_counts()

Ищет работу на должность:
Системный администратор                                                  3099
Инженер                                                                   966
Аналитик                                                                  809
Менеджер проектов                                                         745
Руководитель проекта                                                      718
                                                                         ...
Системный администратор Linux, DevOps, Разработчик Golang                   1
Инженер КИПиА,инженер АСУТП ,видеоинженер                                   1
SEO-специалист | Специалист по интернет-рекламе | Интернет-маркетолог       1
Специалист технических систем безопастности                                 1
Аналитик данных, Математик                                                  1
Name: count, Length: 14929, dtype: int64

In [18]:

def get_graids(text):
    if text.startswith('Неоконч'):
        return 'неоконченное высшее'
    elif text.startswith('Высш'):
        return 'высшее'
    elif text.startswith('Среднее спец'):
        return 'среднее специальное'
    else:
        return 'среднее'
    
hh_db_t['graid'] = hh_db_t.iloc[:,-3].apply(get_graids)
hh_db_t.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто,graid
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано,высшее
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано,среднее специальное
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано,высшее
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано,высшее

In [5]:
hh_db_t['graid'].value_counts()

graid
высшее                 33863
среднее специальное     5765
неоконченное высшее     4557
среднее                  559
Name: count, dtype: int64

In [19]:
# пол
def get_gender(text):
    if text.startswith('Муж'):
        return 'М'
    elif text.startswith('Жен'):
        return 'Ж'
hh_db_t['gender'] = hh_db_t.iloc[:,0].apply(get_gender)
hh_db_t['gender'].value_counts(normalize=True)

gender
М    0.809293
Ж    0.190707
Name: proportion, dtype: float64

In [20]:
# возраст
def get_age(text):
    text = text.split(',')
    text = text[1]
    text = text.split(' ')
    text = text[2]
    return int(text)
    
hh_db_t['age'] = hh_db_t.iloc[:,0].apply(get_age)
hh_db_t['age'].head()

0    39
1    60
2    36
3    38
4    26
Name: age, dtype: int64

In [21]:
hh_db_t['age'].mean()

32.19674146254246

In [22]:
hh_db_t = hh_db_t.drop(['Образование и ВУЗ'], axis=1)
hh_db_t = hh_db_t.drop(['Пол, возраст'], axis=1)
hh_db_t.head()

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,graid,gender,age
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26

In [23]:
# опыт
def get_exp(text1):
    month_count = 0
    if text1 is np.NaN or text1 == 'Не указано':
        return np.NaN
    year_words=['год', 'года', 'лет']
    month_words=['месяц', 'месяца', 'месяцев']
    arg_splitted = text1.split(' ')[:7]
    years = 0
    months = 0
    for index, item in enumerate (arg_splitted):
        if item in year_words:
            years = int(arg_splitted[index-1])
        if item in month_words:
            months = int(arg_splitted[index-1])
    return int(years*12 + months)
hh_db_t['exp'] = hh_db_t.iloc[:, 5].apply(get_exp)

In [10]:
round(hh_db_t['exp'].median())

100

In [32]:
# Город, переезд, командировки
million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]

def get_city(str_city):           
    str_city = str_city.replace(' ', '')
    str_city = str_city.split(',')
    
    if str_city[0] == 'Москва':
        city = 'Москва'
    elif str_city[0] == 'Санкт-Петербург':
        city = 'Санкт-Петербург'
    elif str_city[0] in million_cities:
        city = 'город-миллионник'
    else:
        city = 'другие'
        
    return city


def get_moving(moving):
    if '(' in moving:
        brackets = moving[moving.find('('):moving.find(')')]
        moving = moving.replace(brackets,'')
        
    moving = moving.replace(' ', '')
    moving = moving.split(',')
            
    # check station
    if len(moving) <2:
        moving = False
    elif len(moving) == 2 and moving[1].startswith('м.'):
        moving = False   
            
    else:
        if moving[1].startswith('м.'):
            moving.pop(1)
        if moving[1].startswith('негот'):
                moving = False                
        elif moving[1].startswith('гот') or moving[1].startswith('хочу'):
                moving = True 
    return moving


def get_trip(trip):
        
    trip = trip.replace(' ', '')
    trip = trip.split(',')
            
    # check station
    if len(trip) <3:
        trip = False
    elif len(trip) <= 3 and trip[1].startswith('м.'):
        trip = False   
            
    else:
        
        if trip[-1].startswith('негот'):
                trip = False                
        elif trip[-1].startswith('гот'):
                trip = True 
        else:
            trip = False
    return trip
            
            
hh_db_t['Город'] = hh_db_t.iloc[:, 2].apply(get_city)
hh_db_t['Готовность к переезду'] =  hh_db_t.iloc[:, 2].apply(get_moving)
hh_db_t['Готовность к командировкам']= hh_db_t.iloc[:, 2].apply(get_trip)
hh_db_t.head(10)

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,graid,gender,age,exp,Город,Готовность к переезду,Готовность к командировкам
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0,другие,False,False
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0,другие,False,True
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0,другие,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0,другие,False,True
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0,Москва,False,True
5,25000 руб.,Технический специалист,"Старый Оскол , не готов к переезду , не готов ...",полная занятость,"полный день, сменный график",Опыт работы 9 лет 9 месяцев Технический специ...,Комбинат хлебопродуктов Старооскольский,Слесарь КИПиА,22.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,29,117.0,другие,False,False
6,250000 руб.,Руководитель ИТ-проектов,"Москва , не готов к переезду , готов к редким ...",полная занятость,полный день,Опыт работы 22 года 9 месяцев Руководитель ИТ...,"СИБИНТЕК, ООО ИК",Менеджер (Руководитель ИТ-проектов),25.04.2019 22:48,Не указано,высшее,М,46,273.0,Москва,False,True
7,70000 руб.,Инженер АСУ ТП,"Москва , м. Бульвар Рокоссовского , готов к п...",полная занятость,полный день,Опыт работы 3 года 11 месяцев Декабрь 2016 — ...,ФМ-инжиниринг,Инженер АСУ ТП,07.05.2019 17:59,Не указано,высшее,М,29,47.0,Москва,True,True
8,65000 руб.,Ревизор,"Москва , м. Шоссе Энтузиастов , готов к перее...",полная занятость,полный день,Опыт работы 8 лет 9 месяцев Декабрь 2016 — по...,ФГБУ РСВО,Старший специалист,11.04.2019 11:08,Имеется собственный автомобиль,неоконченное высшее,М,29,105.0,Москва,True,True
9,55000 руб.,"Менеджер по работе с клиентами, Pre-sale менед...","Москва , м. Теплый Стан , не готов к переезду...",полная занятость,полный день,Опыт работы 16 лет 6 месяцев Июнь 2018 — по н...,"ООО ""Мираском""",Специалист отдела ИТ,19.04.2019 11:39,Имеется собственный автомобиль,высшее,М,34,198.0,Москва,False,False

In [26]:
hh_db_t['Город'].value_counts(normalize=True)

Город
Москва              0.371469
другие              0.367692
город-миллионник    0.150501
Санкт-Петербург     0.110339
Name: proportion, dtype: float64

In [36]:
hh_db_t['Готовность к переезду'].value_counts()

Готовность к переезду
False    28719
True     16025
Name: count, dtype: int64

In [37]:
hh_db_t.iloc[:,-1].value_counts()

Готовность к командировкам
True     31645
False    13099
Name: count, dtype: int64

In [35]:
hh_db_t = hh_db_t.drop(['Город, переезд, командировки'], axis=1)

KeyError: "['Город, переезд, командировки'] not found in axis"

In [39]:
hh_db_t.to_csv('data/hh_db.csv', index=False, sep=';')

In [5]:
hh_db_t.groupby(['Готовность к переезду', 'Готовность к командировкам'])['Готовность к командировкам'].agg(['count']).unstack()

                            count
Готовность к командировкам  False  True
Готовность к переезду
False                       11337  17382
True                         1762  14263

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [1]:
hh_db_t = pd.read_csv('data/hh_db.csv', sep=';')
hh_db_t.head()

NameError: name 'pd' is not defined